# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Database
data/*.db
data/*.xlsx

# Utility & Debug Scripts
inspect_bank.py
db_seed.py
seed.py
inspect/

# Logs
logs/
*.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db